/* stylelint-disable custom-property-pattern -- RainbowKit does not use kebab-case */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --quick-nav-display: none;
  --component-highlights-item-width: calc(100vw - 100px);
  --developer-experience-code-window-background: var(--slate-12);

  /* Palette */
  --palette-bg-black: #0a0b0d;
  --palette-bg-soft-black: #141519;
  --palette-bg-white: #fff;

  /* Build Onchain Apps shared variables */
  --boat-color-background: var(--palette-bg-black);
  --boat-color-text: var(--palette-bg-white);

  /* Indicates that the element can be rendered using 
   * the operating system dark color scheme. 
   * https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

html .font-robotoMono {
  font-family: var(--font-roboto-mono);
}

html .font-inter {
  font-family: var(--font-inter);
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  background-color: var(--boat-color-background);
  color: var(--boat-color-text);
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

svg {
  display: block;
  overflow: visible;
  vertical-align: middle;
}

ul {
  padding-inline-start: 0;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-feature-settings: normal;
  font-size: 14px;
  font-variation-settings: normal;
}

/* stylelint-disable-next-line */
#__next {
  position: relative;
  z-index: 0;
}

/**
 * RainbowKit colors, and styles. */
[data-rk] {
  --rk-blurs-modalOverlay: blur(0px);
  --rk-fonts-body: sfrounded, ui-rounded, 'SF Pro Rounded', -apple-system, blinkmacsystemfont,
    'Segoe UI', roboto, helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --rk-radii-actionButton: 9999px;
  --rk-radii-connectButton: 12px;
  --rk-radii-menuButton: 12px;
  --rk-radii-modal: 24px;
  --rk-radii-modalMobile: 28px;
  --rk-colors-accentColor: #0e76fd;
  --rk-colors-accentColorForeground: #fff;
  --rk-colors-actionButtonBorder: rgb(0 0 0 / 0.04);
  --rk-colors-actionButtonBorderMobile: rgb(0 0 0 / 0.06);
  --rk-colors-actionButtonSecondaryBackground: rgb(0 0 0 / 0.06);
  --rk-colors-closeButton: rgb(60 66 66 / 0.8);
  --rk-colors-closeButtonBackground: rgb(0 0 0 / 0.06);
  --rk-colors-connectButtonBackground: #fff;
  --rk-colors-connectButtonBackgroundError: #ff494a;
  --rk-colors-connectButtonInnerBackground: linear-gradient(
    0deg,
    rgb(0 0 0 / 0.03),
    rgb(0 0 0 / 0.06)
  );
  --rk-colors-connectButtonText: #25292e;
  --rk-colors-connectButtonTextError: #fff;
  --rk-colors-connectionIndicator: #30e000;
  --rk-colors-downloadBottomCardBackground: linear-gradient(
      126deg,
      rgb(255 255 255 / 0) 9.49%,
      rgb(171 171 171 / 0.04) 71.04%
    ),
    #fff;
  --rk-colors-downloadTopCardBackground: linear-gradient(
      126deg,
      rgb(171 171 171 / 0.2) 9.49%,
      rgb(255 255 255 / 0) 71.04%
    ),
    #fff;
  --rk-colors-error: #ff494a;
  --rk-colors-generalBorder: rgb(0 0 0 / 0.06);
  --rk-colors-generalBorderDim: rgb(0 0 0 / 0.03);
  --rk-colors-menuItemBackground: rgb(60 66 66 / 0.1);
  --rk-colors-modalBackdrop: rgb(0 0 0 / 0.3);
  --rk-colors-modalBackground: #fff;
  --rk-colors-modalBorder: transparent;
  --rk-colors-modalText: #25292e;
  --rk-colors-modalTextDim: rgb(60 66 66 / 0.3);
  --rk-colors-modalTextSecondary: rgb(60 66 66 / 0.6);
  --rk-colors-profileAction: #fff;
  --rk-colors-profileActionHover: rgb(255 255 255 / 0.5);
  --rk-colors-profileForeground: rgb(60 66 66 / 0.06);
  --rk-colors-selectedOptionBorder: rgb(60 66 66 / 0.1);
  --rk-colors-standby: #ffd641;
  --rk-shadows-connectButton: 0px 4px 12px rgb(0 0 0 / 0.1);
  --rk-shadows-dialog: 0px 8px 32px rgb(0 0 0 / 0.32);
  --rk-shadows-profileDetailsAction: 0px 2px 6px rgb(37 41 46 / 0.04);
  --rk-shadows-selectedOption: 0px 2px 6px rgb(0 0 0 / 0.24);
  --rk-shadows-selectedWallet: 0px 2px 6px rgb(0 0 0 / 0.12);
  --rk-shadows-walletLogo: 0px 2px 16px rgb(0 0 0 / 0.16);
}
