[submodule "template/contracts/lib/forge-std"]
	path = template/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "template/contracts/lib/openzeppelin-contracts"]
	path = template/contracts/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
