[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	ignore = dirty
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	ignore = dirty
[submodule "contracts/lib/ERC721A"]
	path = contracts/lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
	ignore = dirty
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/vectorized/solady
	ignore = dirty
[submodule "contracts/lib/murky"]
	path = contracts/lib/murky
	url = https://github.com/dmfxyz/murky
	ignore = dirty
