.CodeBlock {
  position: relative;
  border-radius: 8px;
  margin: 0;
  background-color: #24292e;
  overflow-x: auto;
  transition: background-color 0.5s;
}

.CodeBlockLang {
  position: absolute;
  z-index: 2;
  top: 2px;
  right: 8px;
  color: rgb(235 235 245 / 0.38);
  font-size: 12px;
  font-weight: 500;
  transition:
    color 0.4s,
    opacity 0.4s;
}

.CodeBlockLang pre,
.CodeBlockLang code {
  direction: ltr;
  font-size: 15px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

.CodeBlockPre {
  position: relative;
  z-index: 1;
  padding: 20px 24px;
  margin: 0;
  background: transparent;
  overflow-x: auto;
}
