.HeaderRoot {
  display: flex;
  height: 120px;
  align-items: flex-start;
  justify-content: center;
  padding: 32px 0 0;
}

/* Faster transition when the header gains background (and slower when it loses it) */
.HeaderRoot[data-scroll-state='scrolling-down'] .HeaderInner {
  transition-duration: 30ms, 120ms;
}

.HeaderRoot:not(.ghost[data-scroll-state='at-top']) > .HeaderInner {
  background-color: var(--color-background);
  box-shadow: 0 1px var(--gray-a4);
}

.HeaderThemeToggleContainer {
  display: flex;
  align-items: center;
}

@media (width <= 519px) {
  [data-mobile-menu-open='true'] .HeaderThemeToggleContainer {
    display: none;
  }
}

.MenuCircleImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(0deg, white 0%, white 100%);
}

.NavigationMenuTrigger[data-state='open'] svg {
  transform: rotate(-180deg);
}
