@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 60px;
  --quick-nav-display: none;
  --component-highlights-item-width: calc(100vw - 100px);
  --developer-experience-code-window-background: var(--slate-12);

  /* Palette */
  --palette-bg-black: #0a0b0d;
  --palette-bg-soft-black: #141519;
  --palette-bg-white: #fff;

  /* Build Onchain Apps shared variables */
  --boat-color-background: var(--palette-bg-black);
  --boat-color-text: var(--palette-bg-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--boat-color-background);
}

body {
  min-width: 320px;
  margin: 0;
  background-color: var(--boat-color-background);
  color: var(--boat-color-text);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

svg {
  display: block;
  overflow: visible;
  vertical-align: middle;
}

ul {
  padding-inline-start: 0;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-feature-settings: normal;
  font-size: 1em;
  font-variation-settings: normal;
}

.radix-themes {
  color: var(--boat-color-text);
}

/* stylelint-disable-next-line */
#__next {
  position: relative;
  z-index: 0;
  background-color: var(--boat-color-background);
}
