.HeaderRoot {
  height: var(--header-height);
  background-color: var(--boat-color-background);
}

.HeaderInner {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  height: inherit;
  box-shadow: 0 1px transparent;
  transition:
    background-color 180ms,
    box-shadow 180ms;
  user-select: none;
  background-color: var(--boat-color-background);
}

/* Faster transition when the header gains background (and slower when it loses it) */
.HeaderRoot[data-scroll-state='scrolling-down'] .HeaderInner {
  transition-duration: 30ms, 120ms;
}

.HeaderRoot:not(.ghost[data-scroll-state='at-top']) > .HeaderInner {
  background-color: var(--boat-color-background);
  box-shadow: 0 1px var(--gray-a4);
}
