.HomeHeader {
  --home-header-height: 820px;

  height: var(--home-header-height);
}

.HomeHeaderGradient {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--home-header-height);
  background: linear-gradient(180deg, #ff5800 0%, #cb59ab 100%, #ea36b8 100%);
}

.HomeHeaderHeadline {
  margin-top: 85px;
  color: white;
  font-size: 92px;
  font-weight: 400;
  line-height: 85px;
  text-align: center;
  word-wrap: break-word;
}

.HomeHeaderParagraph {
  margin: 35px 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  word-wrap: break-word;
}

.HomeHeaderCta {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.HomeHeaderWaves {
  --home-header-waves-height: 42px;

  position: relative;
  margin-top: 4px;
  margin-bottom: var(--home-header-waves-height);
}

.HomeHeaderWaves svg {
  width: 100vw;
  height: var(--home-header-waves-height);
}

.HomeHeaderWavesParallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.HomeHeaderWavesParallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.HomeHeaderWavesParallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.HomeHeaderWavesParallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.HomeHeaderWavesParallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}
