.HeaderRoot {
  height: var(--header-height);
}

.HeaderInner {
  position: fixed;
  height: inherit;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  user-select: none;
  box-shadow: 0 1px transparent;
  transition:
    background-color 180ms,
    box-shadow 180ms;
}

/* Faster transition when the header gains background (and slower when it loses it) */
.HeaderRoot[data-scroll-state='scrolling-down'] .HeaderInner {
  transition-duration: 30ms, 120ms;
}

.HeaderRoot:not(.ghost[data-scroll-state='at-top']) > .HeaderInner {
  background-color: var(--color-background);
  box-shadow: 0 1px var(--gray-a4);
}

.HeaderThemeToggleContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 519px) {
  [data-mobile-menu-open='true'] .HeaderThemeToggleContainer {
    display: none;
  }
}
