.NavigationMenuRoot {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}

.NavigationMenuList {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  border-radius: 6px;
  list-style: none;
  margin: 0;
}

.NavigationMenuLink {
  padding: 6px 8px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  color: var(--accent-11);
}

.active {
  background-color: var(--accent-3);
}

.NavigationMenuLink:active {
  background-color: var(--accent-3);
}

.NavigationMenuLink:hover {
  background-color: var(--accent-3);
}
