.HomeHeader {
  --home-header-height: 734px;

  height: var(--home-header-height);
}

.HomeHeaderGradient {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--home-header-height);
  background: linear-gradient(180deg, #ff5800 0%, #cb59ab 100%, #ea36b8 100%);
}

.HomeHeaderHeadline {
  margin-top: 45px;
  color: white;
  font-size: 92px;
  font-weight: 400;
  line-height: 85px;
  text-align: center;
  word-wrap: break-word;

  @media (width <= 768px) {
    font-size: 64px;
  }
}

.HomeHeaderParagraph {
  margin: 35px 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  word-wrap: break-word;

  @media (width <= 768px) {
    padding: 0 20px;
    font-size: 18px;
  }
}

.HomeHeaderCta {
  display: flex;
  justify-content: center;
  margin: 16px 0 52px;

  @media (width <= 768px) {
    width: 80%;
  }
}

.HomeHeaderWaves {
  --home-header-waves-height: 25px;

  position: relative;
  margin-top: 4px;
  margin-bottom: var(--home-header-waves-height);
}

.HomeHeaderWaves svg {
  width: 100vw;
  height: var(--home-header-waves-height);
}

.HomeHeaderWavesParallax > use {
  animation: move-forever 30s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.HomeHeaderWavesParallax > use:nth-child(1),
.HomeHeaderWavesParallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 6s;
}

.HomeHeaderWavesParallax > use:nth-child(3) {
  animation-delay: -3s;
  animation-duration: 12s;
}

.HomeHeaderWavesParallax > use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 15s;
}

.HomeHeaderWavesParallax > use:nth-child(5) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.homeBoatContainer,
.homeBoatLeftSail,
.homeBoatLeftSail2,
.homeBoatCenterSail,
.homeBoatRightSail,
.homeBoatTop,
.homeBoatCenter,
.homeBoatBottom {
  position: absolute;
}

.homeBoatContainer {
  position: absolute;
  z-index: -1;
  bottom: 38px;
  left: 10%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  animation: boat-rotate 20s ease-in-out infinite;
  transform-origin: 2% 2%;
}

.homeBoatInnerContainer {
  width: 200px;
  height: 200px;
  margin: auto;
  inset: 0;
}

.homeBoatLeftSail {
  top: 30px;
  left: 0;
  border-top: 150px solid transparent;
  border-right: 65px solid rgb(128 196 190);
}

.homeBoatLeftSail2 {
  top: 30px;
  left: 35px;
  border-top: 150px solid transparent;
  border-right: 30px solid rgb(125 187 155);
}

.homeBoatCenterSail {
  top: 20px;
  left: 65px;
  width: 3px;
  height: 185px;
  border-radius: 100%;
  background: linear-gradient(278deg, #dbd6e8 0%, #ece7f7 100%),
    linear-gradient(81deg, #9693a9 0%, rgb(150 147 169 / 0) 100%);
}

.homeBoatRightSail {
  top: 60px;
  left: 70px;
  border-top: 120px solid transparent;
  border-left: 45px solid rgb(126 184 239);
}

.homeBoatTop {
  top: 200px;
  left: -15px;
  width: 161px;
  border-top: 18px solid rgb(9 10 93);
  border-right: 14px solid transparent;
  border-left: 13px solid transparent;
}

.homeBoatCenter {
  top: 216px;
  left: -3px;
  width: 137px;
  border-top: 16px solid rgb(34 61 144);
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
}

.homeBoatBottom {
  top: 230px;
  left: 3px;
  width: 124px;
  border-top: 6px solid rgb(93 124 195);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

@keyframes boat-rotate {
  0% {
    transform: rotate(3deg);
  }

  25% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(3deg);
  }
}
